<header class="header" [class.scrolled]="isScrolled">
    <nav role="navigation" class="main-nav column center-xs middle-xs center-sm middle-sm">
        <div class="header__logo-container">
            <a routerLink="/" class="header__logo"></a>
        </div>
        <div class="row center-xs middle-xs center-sm middle-sm">
          <div class="col-xs-12 col-sm-12 main-nav__container">
              <div class="main-nav__list-item">
                  <a class="main-nav__list-item--link" [routerLink]="['/recipes']" routerLinkActive="active">Recipes</a>
              </div>
              <div class="main-nav__list-item ">
                  <a class="main-nav__list-item--link" [routerLink]="['/ingredients']" routerLinkActive="active">Ingredients</a>
              </div>
          </div>
        </div>
    </nav>
</header>
