<header class="header">
    <nav role="navigation" class="main-nav column center-xs middle-xs">
        <div class="col-xs-3 header__logo-container">
            <a routerLink="/" routerLinkActive="active" class="header__logo"></a>
        </div>
        <div class="col-xs-8 main-nav__container">
            <div class="main-nav__list-item">
                <h2 class="c-heading">Recipe Book</h2>
            </div>
            <div class="main-nav__list-item">
                <a class="main-nav__list-item--link" routerLink="/recipes" routerLinkActive="active">Recipes</a>
            </div>
            <div class="main-nav__list-item">
                <a class="main-nav__list-item--link" routerLink="/ingredients" routerLinkActive="active">Ingredients</a>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</header>
