<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-xs-5">
                    <label for="name">Name</label>
                    <input type="text">
                </div>
                <div class="col-xs-2">
                    <label for="amount">Amount</label>
                    <input type="number">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="c-button" type="submit">Add</button>
                    <button class="c-button" type="button">Delete</button>
                    <button class="c-button" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>