input[type="text"], textarea {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4rem;
    color: $inputTextColor;
    background-color: $secondaryTextColor;
    background-image: none;
    border: 1px solid $inputBorderColor;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type="number"] {
    -moz-appearance: textfield;
    display: block;
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4;
    color: $inputTextColor;
    background-color: $secondaryTextColor;
    background-image: none;
    border: 1px solid $inputBorderColor;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
}
textarea {
    max-width: 100%;
    overflow: auto;
    height: 100px;
}
