.o-form-wrapper {
    padding-top: 5rem;

    &__checkbox--blue {
        display: block;
        margin-bottom: 4rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.form-col {
    padding-top: 1rem;
    padding-bottom: 1rem;
    label, textarea {
    width: 520px;
    }
}
