$imagesPath: '../images';

$button-height: 4.4rem;
$button-side-padding-with-border: 1.4rem;
$button-side-padding-without-border: 1.5rem;
$button-border-radius: 5px;

$input-border-radius: 4px;
$defaultTransitionTime: .3s;

$header-height: 150px;


