// Include fonts
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('../fonts/OpenSans-BoldItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('../fonts/OpenSans-ExtraBold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src: url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/OpenSans-Semibold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-SemiboldItalic';
    src: url('../fonts/OpenSans-SemiboldItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../fonts/OpenSans-Italic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-LightItalic';
    src: url('../fonts/OpenSans-LightItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

// Define font family variables
$fontRegular: 'OpenSans-Regular', sans-serif;
$fontSemibold: 'OpenSans-Semibold', sans-serif;
$fontBold: 'OpenSans-Bold', sans-serif;
$fontBoldItalic: 'OpenSans-BoldItalic', sans-serif;
$fontExtraBold: 'OpenSans-ExtraBold', sans-serif;
$fontExtraBoldItalic: 'OpenSans-ExtraBoldItalic', sans-serif;
$fontLight: 'OpenSans-Light', sans-serif;
$fontItalic: 'OpenSans-Italic', sans-serif;
$fontLightItalic: 'OpenSans-LightItalic', sans-serif;
$fontSemiboldItalic: 'OpenSans-SemiboldItalic', sans-serif;

// Define font sizes
$fontSizeSmall: 1.2rem;
$fontSizeRegular: 1.4rem;
$fontSizeMedium: 1.6rem;
$fontSizeTitle: 2rem;
$fontSizeBig: 2.5rem;
$fontSizeHeading: 3rem;
$fontSizeHuge: 5rem;
