// Include fonts
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('/../../fonts/OpenSans-Regular.woff2') format('woff2'),
         url('/../../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('/../../fonts/OpenSans-Bold.woff2') format('woff2'),
         url('/../../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('/../../fonts/OpenSans-Semibold.woff2') format('woff2'),
         url('/../../fonts/OpenSans-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('/../../fonts/OpenSans-Light.woff2') format('woff2'),
         url('/../../fonts/OpenSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url('/../../fonts/OpenSans-Italic.woff2') format('woff2'),
         url('/../../fonts/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Define font family variables
$fontRegular: 'OpenSans-Regular', sans-serif;
$fontSemibold: 'OpenSans-Semibold', sans-serif;
$fontBold: 'OpenSans-Bold', sans-serif;
$fontLight: 'OpenSans-Light', sans-serif;
$fontItalic: 'OpenSans-Italic', sans-serif;

// Define font sizes
$fontSizeSmall: 1.2rem;
$fontSizeRegular: 1.4rem;
$fontSizeMedium: 1.6rem;
$fontSizeTitle: 2rem;
$fontSizeBig: 2.5rem;
$fontSizeHeading: 3rem;
$fontSizeHuge: 5rem;