// Define colors
$primaryTextColor: #222;
$primaryTextColorWithOpacity: rgba(34,34,34, .5);
$secondaryTextColor: #fff;
$linkItemsTextColor: #55A0EB;
$primaryInfoTextColor: #afafaf;
$secondaryInfoTextColor: #3a4a53;
$labelTextColor: #7d7d7d;

$errorTextColor: #dd0231;
$inputTextColor: #000;
$inputPlaceholderTextColor: rgba(0, 0, 0, .5);
$buttonDisableTextColor: rgba(0, 128, 199, .5);
$labelDisabledColor: rgba(34, 34, 2, .5);

$primaryBackgroundColor: #fbfbfb;
$secondaryBackgroundColor: #f4f6f9;
$headerNavBackgroundColor: #f8f9fc;

$primaryBorderColor: #d9dfe9;
$disableBorderColor: rgba(217, 223, 233, .8);

$errorColor: #ed1846;
$successColor: #78d52c;
$infoColor: #2f96b4;
$warningColor: #f89406;

$gradientStartColor: #fbfbfb;
$gradientEndColor: #fff;

$gradientAddStartColor: #78d52c;
$gradientAddEndColor: #4faf00;
$gradientWarningEndColor: #F7AC42;
$gradientWarningStartColor: #f89406;

$primaryOddRowBackgroundColor: #fafafa;
$secondaryOddRowBackgroundColor: #fcfcfc;

$toastBorderColor: #bfcbdf;
$boxShadowColor: rgba(0,0,0,0.1);

$tableBorder: #E9E9E9;
$tableLabelColor: #666;
