<div *ngIf="!name; else formInfo">
  <form class="c-list-data__row row row--no-margin center-xs middle-xs"
  [formGroup]="rForm" (ngSubmit)="editMode ? editForm(rForm.value) : addForm(rForm.value)">
        <div class="col-xs-12 form-col">
          <h3 class="c-heading--medium">{{ editMode ? 'Edit' : 'Add' }} recipe</h3>
        </div>
        <div class="col-xs-12 form-col">
          <label for="name">Name</label>
            <input 
              id="name"
              type="text" 
              formControlName="name">
        </div>
        <div class="col-xs-12 form-col">
          <label for="imageRecipePath">Image</label>
              <input 
                type="text" 
                id="imageRecipePath" 
                formControlName="imageRecipePath">
        </div>
        <div class="col-xs-12 form-col">
          <label for="description">Description</label>
            <textarea
              id="description" 
              formControlName="description">
            </textarea>
        </div>
          <div class="col-xs-12 form-col">
            <div class="row">
              <div class="col-xs-8 form-col">
                  <label for="">
                      <input
                        type="text"
                        id="">
                    </label>
              </div>
              <div class="col-xs-3 edit__number-holder form-col">
                  <label for="">
                      <input
                        type="number"
                        id="">
                    </label>
              </div>
              <div class="col-xs-1 edit__delete-button-holder form-col">
                  <button class="c-button--delete-small">X</button>
              </div>
            </div>
          </div>
 
        <div *ngIf="!rForm.controls['description'].valid" class="validation-alert">Description is too long.</div>
        <div class="col-xs-12 form-col">
          <button class="c-button c-button--add" [disabled]="!rForm.valid">Save</button>
          <button class="c-button">Cancel</button>
        </div>
  </form>
</div>

<ng-template #formInfo>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
          <h3 class="c-heading--medium">The recipe has been successfully {{ editMode ? 'edited' : 'added'}}!</h3>
          <h1>{{ editMode ? recipe.name : name}}</h1>
          <img class=""
          [src]="editMode ? recipe.imageRecipePath : imageRecipePath"
          alt="{{ editMode ? recipe.imageRecipePath : imageRecipePath }}"
          title="{{ editMode ? recipe.imageRecipePath : imageRecipePath }}">
          <p>{{ editMode ? recipe.description : description }}</p>
      </div>
    </div>
  </div>
</ng-template>
