<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imageRecipePath" alt="{{ recipe.name }}">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Recipe Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button class="c-button">Manage recipes</button>
        <ul>
            <li>Edit Recipe</li>
            <li>Delete Recipe</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>