.dropdown {
    position: relative;
    flex-basis: 37.667%;
    max-width: 37.667%;
}

.open > .dropdown-menu {
    display: block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 1.5rem;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 177px;
    padding: 1rem;
    margin: 2px 0 0;
    list-style: none;
    background-color: $gradientEndColor;
    background-clip: padding-box;
    border: 1px solid $inputBorderColor;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    &--item:hover {
      font-weight: bolder;
      cursor: pointer;
    }
}
.recipe-details-image {
    height: auto;
    width: 640px;
    max-width:100%;
    border-radius: 5px;
    cursor: pointer;
}
.recipe-details-row {
    cursor:default;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 1rem;

    &--name {
        padding-top: 4rem;
        padding-left: 1rem;
        cursor:default;
    }
}

.gray {
    background-color: gray;
}
