<div class="c-list-data__row row row--no-margin center-xs" [style.backgroundColor]="recipe.backgroundColor">
    <div class="col-xs-12">
      <div class="row center-xs middle-xs">
        <img 
            class="recipe-details-image" 
            [src]="recipe.imageRecipePath" 
            alt="{{ recipe.name }}" 
            title="{{ recipe.name }}">
      </div>
    </div>
</div>
<div class="row recipe-details-row--name">
    <div class="col-xs-12">
        <h1 title="{{ recipe.name }}" class="c-heading--heading">{{ recipe.name }}</h1>
    </div>
</div>
<div class="row recipe-details-row">
    <div class="col-xs-5 dropdown" appDropDown>
        <button class="c-button">
            Manage recipe
            <span class="svg-icon svg--caret-down"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="dropdown-menu--item">
                <a (click)="onAddToIngredientsList()">
                    View Ingredients
                </a>
            </li>
            <li class="dropdown-menu--item">
                <a (click)="onEditRecipe()">
                    Edit Recipe
                </a>
            </li>
            <li class="dropdown-menu--item">
                <a (click)="onDeleteRecipe()">
                    Delete Recipe
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="row recipe-details-row">
    <div class="col-xs-12">
        {{ recipe.description }}
    </div>
</div>
<div class="row recipe-details-row">
    <div class="col-xs-12">
        <h4 class="c-heading--medium">Ingredients</h4>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.name }} - {{ ingredient.amount }}
            </li>
        </ul>
    </div>
</div>
