.c-heading {
    font-family: $fontPangolinRegular;
    font-size: $fontSizeHeading;

    &--big {
        @extend .c-heading;
        font-size: $fontSizeBig;
    }
    &--medium {
        @extend .c-heading;
        font-size: $fontSizeTitle;
    }
    &--small {
        @extend .c-heading;
        font-size: $fontSizeMedium;
    }
    &--heading {
        @extend .c-heading;
        font-size: $fontSizeHeading;
    }
    &--info {
        @extend .c-heading;
        color: $primaryInfoTextColor;
    }
}
