// Define colors
$primaryTextColor: #222;
$primaryTextColorWithOpacity: rgba(34, 34, 34, .5);
$secondaryTextColor: #fff;
$linkItemsTextColor: #333;
$linkItemsHoveredColor:#00c0be;
$primaryInfoTextColor: #afafaf;
$secondaryInfoTextColor: #3a4a53;
$labelTextColor: #7d7d7d;
$errorTextColor: #dd0231;
$inputTextColor: #000;
$inputPlaceholderTextColor: rgba(0, 0, 0, .5);
$buttonDisableTextColor: rgba(0, 128, 199, .5);
$labelDisabledColor: rgba(34, 34, 2, .5);
$primaryBackgroundColor: #f5f5f5;
$secondaryBackgroundColor: #f4f6f9;
$headerNavBackgroundColor: #f8f9fc;
$primaryBorderColor: #d9dfe9;
$disableBorderColor: rgba(217, 223, 233, .8);
$errorColor: #ed1846;
$successColor: #78d52c;
$infoColor: #2f96b4;
$warningColor: #f89406;
$gradientStartColor: #fbfbfb;
$gradientEndColor: #fff;
$inputBorderColor: #ccc;
$primaryButtonGradientStartColor: #457fca;
$primaryButtonGradientEndColor: #5691c8;
$addButtonGradientStartColor: #2ecc71;
$addButtonGradientEndColor: #27ae60;
$deleteButtonGradientStartColor: #e74c3c;
$deleteButtonGradientEndColor: #c0392b;
$clearButtonGradientStartColor: #bdc3c7;
$clearButtonGradientEndColor: #95a5a6;
$gradientWarningEndColor: #F7AC42;
$gradientWarningStartColor: #f89406;
$primaryOddRowBackgroundColor: #fafafa;
$secondaryOddRowBackgroundColor: #fcfcfc;
$toastBorderColor: #bfcbdf;
$boxShadowColor: rgba(0, 0, 0, 0.1);
$listBorder: #E9E9E9;
$inputTextColor: #666;
$navLinksBeforeAfterColor: #9b9fa1;
$selectedItemBackgroundColor: #ECECEC;
