$grid-padding: 15px;

$grid-width-1: 8.333%;
$grid-width-2: 16.667%;
$grid-width-3: 25%;
$grid-width-4: 33.333%;
$grid-width-5: 41.667%;
$grid-width-6: 50%;
$grid-width-7: 58.333%;
$grid-width-8: 66.667%;
$grid-width-9: 75%;
$grid-width-10: 83.333%;
$grid-width-11: 91.667%;
$grid-width-12: 100%;
