.svg {
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 160px;
    position: relative;
    width: 200px;
}
.svg-icon {
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 24px;
    position: relative;
    width: 24px;
}

.svg--salad {
    background-image: url('#{$imagesPath}/salad.svg');
    height: 10rem;
    width: 15rem;
}

.svg--loaf {
    background-image: url('#{$imagesPath}/loaf.svg');
    height: 10rem;
    width: 15rem;
}

.svg--jam {
    background-image: url('#{$imagesPath}/jam.svg');
    height: 10rem;
    width: 15rem;
}

.svg--rice {
    background-image: url('#{$imagesPath}/rice.svg');
    height: 10rem;
    width: 15rem;
}

.svg--green-pepper {
    background-image: url('#{$imagesPath}/green-pepper.svg');
    height: 10rem;
    width: 13rem;
}

.svg--plant {
    background-image: url('#{$imagesPath}/plant.svg');
    height: 10rem;
    width: 7rem;
    margin-left: 2rem;
}

.svg--caret-down {
    background-image: url('#{$imagesPath}/caret-down.svg');
    vertical-align: middle;
}