<div class="c-list-data__row row row--no-margin center-xs app-r">
    <div class="col-xs-6">
      <p>Value came from Child Component {{ childValue }}</p>
        <app-recipe-list (childChanged)="childValue = $event" (recipeWasSelected)="selectedRecipe = $event"></app-recipe-list>
    </div>
    <div class="col-xs-6">
        <app-recipe-detail *ngIf="selectedRecipe; else infoText" [recipe]="selectedRecipe"></app-recipe-detail>
        <ng-template #infoText>
            <h3 class="c-heading--medium">Please, select a recipe!</h3>
        </ng-template>
    </div>
</div>
