.header {
    position: fixed;
    width: 100%;
    height: $header-height;
    left: 0;
    box-shadow: 0 0 7px $boxShadowColor;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);

    .main-nav {

        height: 100%;

        &__list-item {
            display: inline-block;
            font-size: 1.5rem;
            font-family: $fontRegular;
            font-weight: 600;
            text-transform: uppercase;

            &--link {
                font-family: $fontRegular;
                transition: 0.4s;
                color: $linkItemsTextColor;
                text-decoration: none;
                padding: 2.2rem 2rem;
                margin: 0;
               // box-shadow: 0 0 4px 0 $boxShadowColor;  
            }

            &--link.active {
                font-family: $fontRegular;
                transition: 0.4s;
                color: $secondaryTextColor;
                background-color: $linkItemsTextColor;
            }

            &--link:hover {
                background-color: $tableBorder;
                color: $linkItemsTextColor;
            }

        }
        
    }

}
