//@import '../assets/scss/_settings.fonts';
//@import '../assets/scss/_settings.colors';
//@import '../assets/scss/_settings.globals';

.header {
    position: fixed;
    width: 100%;
   // height: $header-height;
    left: 0;
    margin-left: 0;
    //background-color: $gradientStartColor;
    //box-shadow: inset 0 -2px 0 $boxShadowColor;
    //color: $primaryTextColor;
    transform: translate3d(0,0,0);

    &__list {
        height: 100%;
        list-style-type: none;
        overflow-y: auto;
        padding: 7rem 0 7rem 4rem;
        position: relative;
    }

    &__list-item {
        //font-family: $fontBold;
        text-transform: uppercase;
    }
}
