<div class="container-fluid">
    <header class="header">
        <nav role="navigation" class="main-nav column center-xs middle-xs">
            <div>
                <div class="main-nav__list-item">
                    <a class="main-nav__list-item--link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
                </div>
                <div class="main-nav__list-item">
                    <a class="main-nav__list-item--link" routerLink="/add-recipes" routerLinkActive="active">Add New Recipe</a>
                </div>
                <div class="main-nav__list-item">
                    <a class="main-nav__list-item--link" routerLink="/search-recipes" routerLinkActive="active">Search Recipes</a>
                </div>
            </div>
        </nav>
        <router-outlet></router-outlet>
    </header>
</div>
