<div class="container">
    <div class="c-list-data__row row row--no-margin center-xs" appHideOnScroll>
        <h1 class="c-heading">Add a recipe.</h1>
        <app-add-ingredient></app-add-ingredient>
    </div>
    <div class="o-footer row row--no-margin center-xs">
        <div class="col-xs-3">
            <span class="svg svg--rice"></span>
        </div>
        <div class="col-xs-3">
             CookingBook@2017
        </div>
        <div class="col-xs-3">
            <span class="svg svg--loaf"></span>
        </div>
        <div class="col-xs-3">
            <span class="svg svg--jam"></span>
        </div>
    </div>
</div>
