.recipe-single-listed {
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    line-height: 2.4rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    cursor: pointer;
    margin-bottom: 2rem;
}
.recipe-single-listed:hover {
    background-color: $primaryOddRowBackgroundColor;
}
.new-recipe-button {
    padding-bottom: 5rem;
}