<a (click)="onSelected(selectedItem.value)" #selectedItem>
    <div class="row recipe-single-listed">
        <div class="col-xs-8">
            <h4 class="c-heading--medium">{{ recipe.name }}</h4>
            <p>{{ recipe.description }}</p>
        </div>
        <div class="col-xs-4">
            <span>
                <img class="recipe-single-listed__image"
                [src]="recipe.imageRecipePath"
                alt="{{ recipe.name }}">
            </span>
        </div>
    </div>
</a>
