.recipe-single-listed {
    background-color: $primaryOddRowBackgroundColor;
    border: 1px solid $tableBorder;
    border-bottom: none;
    line-height: 2.4rem;
    padding-top: 5rem;
    padding-bottom: 2.5rem;
}