<div class="c-list-data__row row row--no-margin center-xs middle-xs">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-4 new-recipe-button">
                <button class="c-button">New Recipe</button>
            </div>
        </div>

<input type="text" #childInput (keyup)="onChange(childInput.value)">

        <app-recipe-item *ngFor="let recipeEl of recipes"
        [style.backgroundColor]="recipeEl.backgroundColor"
        [recipe]="recipeEl"
        (recipeSelected)="onRecipeSelected(recipeEl)">
        </app-recipe-item>
    </div>
</div>
<div class="row row--no-margin center-xs middle-xs">
    <div class="col-xs-12">

    </div>
</div>
