<div class="c-list-data__row row row--no-margin center-xs middle-xs">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-4 new-recipe-button">
                <button class="c-button" (click)="onNewRecipe()">New Recipe</button>
            </div>
        </div>
        <app-recipe-item *ngFor="let recipeEl of recipes;
        let i = index" [style.backgroundColor]="recipeEl.backgroundColor" [recipe]="recipeEl" [index]="i">
        </app-recipe-item>
    </div>
</div>
<div class="row row--no-margin center-xs middle-xs">
    <div class="col-xs-12">

    </div>
</div>
