<div class="c-list-data__row row row--no-margin center-xs app-r">
    <div class="col-xs-12">
        <app-edit></app-edit>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <ul class="list-group">
                    <li>
                        <a class="list-group-item" 
                           *ngFor="let ingredient of ingredients; let i = index"
                           (click)="onEditItem(i)">
                        {{ ingredient.name }} ({{ ingredient.amount }})</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
