<div class="c-list-data__row row row--no-margin center-xs app-r">
    <div class="col-xs-8 ingredient-container">
        <app-edit (ingredientAdded)="onIngredientAdded($event)"></app-edit>
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group">
                    <li>
                        <a class="list-group-item" *ngFor="let ingredient of ingredients">
                        {{ ingredient.name }} ({{ ingredient.amount }})</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
